body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

#timer {
    font-size: 50px;
    font-weight: bold;
}

.warning {
    color: red;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0.3; }
}