body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header{
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.menu {
    background: #333;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    flex: 1;
}

.menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.menu a:hover {
    background: #4CAF50;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 8px;
    font-size: 16px;
}
